body {
  font-family: "Roboto";
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--wite-background);
  width: 428px;
   margin: auto;
}
@media (min-width: 768px) {
  body {
    width: 768px;
    margin: auto;
      }
}
@media (min-width: 1200px) {
  body {
    width: 1440px;
    margin: auto;
      }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}
menu {
  list-style: none;
}
a {
  text-decoration: none;
}



:root {
  --primary-brand: #4d5ae5;
  --pressed-brand: #404bbf;
  --text: #434455;
  --dark-background: #2e2f42;
  --hero-background: #8e8f99;
  --wite-background: #fff;
  --light-background: #f4f4fd;
  --accent: #e7e9fc;
  --success: #31d0aa;
  --dairy: #fcfcfc;
}
.container  {
  width: 428px;
    padding: 0 16px;
    margin: 0 auto;
    overflow-x: hidden;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.logo-web {
  color: #4d5ae5;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 76px;
}

@media (min-width: 768px) {
  .logo-web {
    margin-right: 120px;
  }
}

.logo-studio {
  color: #2e2f42;
}
.menu-nav-menu {
  display: none;
  margin: 0;
  padding: 24px 0;
  gap: 40px;
}
@media (min-width: 768px) {
  .menu-nav-menu {
    margin: 0;
    padding: 24px 0;
    gap: 40px;
    display:flex;
    height: 72px;
  }
}
      
.menu-nav-hamburger {
    display: inline-flex;
  	flex-Direction: column;
  	align-Items: flex-start;
  	margin-top:48px;
    height: 200px;
    margin-bottom: 284px;
    }
.menu-nav-hamburger a:visited {
      color: #2E2F42;
    }

.menu-nav-hamburger a:visited:hover, 
.menu-nav-hamburger a:visited:focus{
  color: var(--pressed-brand);
 
}

.hamburger-menu-contacts {  
  	color:  #2E2F42;
  	font-Family: Roboto;
  	font-Size: 36px;
  	font-Style: normal;
  	font-Weight: 700;
  	line-Height: 40px;
  	letter-Spacing: 0.72px;
  	text-Transform: capitalize;
    margin-bottom: 40px;
}
.hamburger-contacts {
  margin-top:284px ;
}
.hamburger-phone {
   	color:  #4D5AE5;
  	font-Family: Roboto;
  	font-Size: 36px;
  	font-Style: normal;
  	font-Weight: 700;
  	line-Height: 40px;
  	letter-Spacing: 0.72px;
  	text-Transform: capitalize;
    text-align: center;
}
.hamburger-trailing-wrap {
  margin-top: 48px;
  display: flex;
  gap: 56px;
}
.address-header {
  margin-top: 14px;
}
@media (min-width: 1200px) {
  .address-header {
    margin-left: auto;
    
  }
}
.hamburger-email {
    	color:#434455;
  	font-Family: Roboto;
  	font-Size: 20px;
  	font-Style: normal;
  	font-Weight: 500;
  	line-Height: 24px;
  	letter-Spacing: 0.4px;
}
.hamburger-email-li {
  margin-top: 40px;
}
    .modal-close-hamburger {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: var(--accent, #e7e9fc);
      stroke-width: 1px;
      stroke: rgba(0, 0, 0, 0.1);
      margin: 8px;
      padding: 8px;
    }
.hamburger {
  width: 32px;
  height: 22px;
  stroke: #2E2F42;
  	}
.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #FFF;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
@media (min-width: 1200px) {
  .hamburger-menu {
    display: none;
  }
}
.hamburger-menu.is-open {
  transform: translateX(0);
}
.link-menu {
  padding: 24px 0;
}
.menu-nav-menu .link-menu {
  color: #2e2f42;
  font-weight: 500;
}

.menu-nav-contact .link-contact {
  color: #434455;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 768px) {
  .link-contact {
      width: 118px;
      height: 14px;
      flex-Shrink: 0;
      color: #434455;
      font-Family: Roboto;
      font-Size: 12px;
      font-Style: normal;
      font-Weight: 400;
      line-Height: 14px;
      letter-Spacing: 0.48px;
    }
}
@media (min-width: 1200px) {
  .link-contact {
      display: flex;
      width: 153px;
      height: 24px;
      justify-Content: center;
      align-Items: center;
      flex-Shrink: 0;
      font-family: "Roboto";
      color: var(--text);
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      }
}
.link-last {
  margin-right: 0;
}
.menu-nav-contact {
    gap: 40px;
    display: none;
}
@media (min-width: 1200px){
  .menu-nav-contact {
    display: flex;
    gap: 40px;
    flex-direction: unset;
    margin-bottom: 13px;
  }
}
@media (min-width: 768px) and (max-width:1199px) {
  .menu-nav-contact {
    flex-direction: column;
    gap: 0;
    margin-top: 16px;
    display: unset;
  }
}
@media (min-width: 1200px) {
  .section-one{
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    justify-content:center;
  }
}
@media (min-width: 1200px) {
  .section-one-feature {
    width: calc((100% - 72px) / 4);
  }
}
.menu-nav-contact-show {
  display: unset;
  gap: 40px;
}
@media (min-width: 768px) {
  .menu-nav-contact-show {
    flex-direction: column;
    gap: 0;
    margin-top: 16px;
    display: none;
  }
}


.menu-nav-menu .link-menu:hover,
.menu-nav-menu .link-menu:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.menu-nav-contact .link-contact:hover,
.menu-nav-contact .link-contact:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.hero-image {
  background-color: #2e2f42;
  padding: 112px 0;
  background: linear-gradient(rgba(46, 47, 66, 0.8), rgba(46, 47, 66, 0.8)),
    url(../images/studio-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 480px;
  height: 432px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero-image {
     height: 436px;
     background-color: #2e2f42;
     padding: 112px 0;
     background: linear-gradient(rgba(46, 47, 66, 0.8), rgba(46, 47, 66, 0.8)),
     url(../images/studio-background.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     max-width: 100em;
     height: 432px;
     margin: 0 auto;
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-image {
    background-image: url(../images/studio-backgroundx2.jpg);
  }
}
@media (min-width: 1200px) {
  .hero-image {
    height: 600px;
    padding: 188px 0;
  }
}


.section-title {
  width: 320px;
  color: var(--white, #FFF);
  text-Align: center;
  font-Family: Roboto;
  font-Size: 36px;
  font-Style: normal;
  font-Weight: 700;
  line-Height: 40px;
  letter-Spacing: 0.72px;
  text-Transform: capitalize; 
  margin: auto 38px 72px 38px;
}
@media (min-width: 768px) {
  .section-title {
     width: 496px;
      color: #FFF;
      text-Align: center;
      font-Family: Roboto;
      font-Size: 56px;
      font-Style: normal;
      font-Weight: 700;
      line-Height: 60px;
      letter-Spacing: 1.12px;
      margin: auto 136px 36px 136px;
    }
}
@media (min-width: 1200px) {
  .section-title {
    margin: 0 auto;
    margin-bottom: 48px;
    
  }
}

.order-button {
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  display: inline-flex;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
}
.order-button:hover,
.order-button:focus {
  background: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.section-one-feature {
  width: auto;
}
@media (min-width: 768px) {
  .section-one-feature {
    width: 356px;
  height: 120px;
}
  }

.section-one {
  display: inline-flex;
  flex-Direction: column;
  align-Items: flex-start;
  gap: 72px; 
  width: auto;
  height: auto;
} 
@media (min-width: 768px) {
  .section-one {
  display: inline-flex;
  flex-wrap: wrap;
  align-Items: flex-start;
  gap: 72px;
  width: auto;
  height: auto;
  row-gap: 72px;
  column-gap: 24px;
  flex-direction: unset;
  }
}
@media (min-width: 1200px) {
  .section-one-feature {
  height: auto;
  width: calc((100% - 72px) / 4);
  }
}
@media (min-width: 1200px) {
  .section-one {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    justify-content: center;
  }
}

.section-one-featur-last {
  margin-right: 0;
}
.section-subtitle {
  color: var(--dark-background);
  align-Self: "stretch";
  text-Align: center;
  font-Family: Roboto;
  font-Size: 36px;
  font-Style:normal;
  font-Weight: 700;
  line-Height: 40px ;
  letter-Spacing: 0.72px;
  text-Transform: capitalize; 
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .section-subtitle {
    color: var(--dark-background);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    text-align: start;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .section-subtitle {
    text-Align: left;
      width: 264px;
      color: #2E2F42;
      font-Family: Roboto;
      font-Size: 36px;
      font-Style: normal;
      font-Weight: 700;
      line-Height: 40px;
      letter-Spacing: 0.72px;
      text-Transform: capitalize;
    }
}

.section-paragraph {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}
.section-two-paragraph {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
@media (min-width: 768px) {
  .section-two-paragraph {
    align-Self: stretch;
  color: #434455;
  font-Family: Roboto;
  font-Size: 16px;
  font-Style: normal;
  font-Weight: 500;
  line-Height: 24px;
  letter-Spacing: 0.32px;
  }
}
@media (min-width: 1200px) {
  .section-two-paragraph{
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  }
}
@media (min-width: 1200px) {
  .section-feature {
    padding-top: 0;
  }
}
@media (min-width: 400px) and (max-width: 1199px) {
.section-feature {
  display: none;
  }
  }
.team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-align: center;
  margin-bottom: 72px;
  color: #2E2F42;
}

.section-two-list {
  width: calc((100% - 48px) / 3);
}
.section-three-ul-last {
  margin-right: 0;
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: 100%;
}
@media (min-width: 768px) {
  .team-card {
    width: 264px;
  }
}


.team-card-last {
  margin-right: 0;
}
.team-card-text {
  padding: 32px 16px;
}
.team-cards-row {
  display: inline-flex;
  flex-Direction: column;
  align-Items: center;
  gap: 72px;
  margin: auto 58px;
}
@media (min-width: 768px) {
  .team-cards-row {
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 64px;
  column-gap: 24px; 
  margin: auto 92px auto 92px;
  flex-direction: unset;
  }
}
@media (min-width: 1200px) {
  .team-cards-row {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
  gap: 24px;
  flex-wrap: unset;
  }
}

.section-two-img {
  display: flex;
  gap: 24px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  height: 644px;
}
@media (min-width: 768px) {
  .footer { height: 456px;

  }
}
@media (min-width: 1200px) {
  .footer {
    height: 312px;
  }
}

.logo-web-footer {
  color: #4d5ae5;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  display: inline-block;
  margin: auto 76px 16px 76px;
}

.logo-studio-footer {
  color: #f4f4fd;
}
.footer-paragraph {
  color: var(--light-background);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  max-width: 264px; 
}
.section-four {
  background-color: var(--light-background);
  height: 2232px;
}
@media (min-width: 768px) {
  .section-four {
    height: 1224px;
  }
}
@media (min-width: 1200px) {
  .section-four {
    height: 780px;
  }
}

.team-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}
.portfolio-button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  background: #f4f4fd;
  color: var(--primary-brand);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--pressed-brand);
  color: var(--wite-background);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.portfolio-card-header {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--dark-background);
  margin-bottom: 8px;
}
.project-card-p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--text);
}
.top-line {
  border-bottom: 1px solid var(--accent, #e7e9fc);
}

.hamburger {
  
  background-color: transparent;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.nav-header {
  display: flex;
  align-items: center;
}
.top-link-div {
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr auto;
  height: 70px;
}
@media (min-width: 768px) {
  .top-link-div {
    padding-top: 0;
    padding-bottom: 0;
    height: 72px;
    }
}
@media (min-width: 1200px) {
  .top-link-div{
    display: flex;
    align-items: center;
    }
}

.top-line-portfolio {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--accent, #e7e9fc);
  background: var(--wite-background, #fff);
}
.portfolio-button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-card {
  width: calc((100% - 48px) / 3);
}
.project-row {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-link {
  padding: 32px 16px;
  border: 1px solid var(--accent, #e7e9fc);
  border-top: none;
}
.section-one-icon-svg {
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  align-items: center;
  height: 120px;
  display: none;
}
@media (min-width: 1200px) {
  .section-one-icon-svg {
  display: unset;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  align-items: center;
  height: 120px;
  }
}
.trailing-icons {
  display: flex;
  gap: 24px;
}
.icon-ellipse {
  width: 40px;
  height: 40px;
}
.team-card-icon-div:hover,
.team-card-icon-div:focus {
  background-color: var(--pressed-brand, #404bbf);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.team-card-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-brand, #4d5ae5);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--light-background);
}
.team-card-icon {
  width: 16px;
  height: 16px;
}
.team-card-icon-footer {
  width: 24px;
  height: 24px;
}
.trailing-clients {
  display: flex;
  column-gap: 16px;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
}
@media (min-width: 768px) {
  .trailing-clients {
    column-gap: 24px;
  }
}
@media (min-width: 1200px) {
  .trailing-clients {
    column-gap: 24px;
    flex-wrap: unset;
    row-gap: 70;
    justify-content: unset;
    display: flex;
  }
}
@media (min-width: 768px) {
  .footer-form {
    display: flex;
    align-items: center;
  }
}
.rectangle {
  width: 190px;
  height: 88px;
}
.client-svg {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
.client-logo-div {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid currentColor;
  width: 100%;
  height: 100%;
  align-items: center;
  color: var(--hero-background, #8e8f99);
}
.client-logo-div:hover,
.client-logo-div:focus {
  color: var(--pressed-brand, #404bbf);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.social-media-footer-paragraph {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  text-align: center;
}

.trailing-icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.portfolio-shadow:hover,
.portfolio-shadow:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.footer-wrap {
  display: inline-flex;
  flex-Direction: column;
  align-Items: flex-start;
}
@media (min-width: 1200px) {
  .footer-wrap {
    display: flex;
    align-items: baseline;
    flex-direction: unset;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer-wrap {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: unset;
  }
}
  .wrap-wrap {
    display: flex;
    flex-direction: column;
    margin: auto 64px 72px 64px;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    .wrap-wrap {
      margin: auto 24px 72px 108px;
    }
  }
  @media (min-width: 1200px) {
    .wrap-wrap {
      display: unset;
      flex-direction: unset;
      margin: auto;
    }
  }

.social-media-footer {
  margin: auto 94px 72px 94px;
}
@media (min-width: 768px) { 
  .social-media-footer {
    margin: 0;
  }
  @media (min-width: 1200px) {
    .social-media-footer {
      margin-left: 120px;
    }
  }
}
.team-card-icon-div-footer:hover,
.team-card-icon-div-footer:focus {
  background-color: var(--success, #31d0aa);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.team-card-icon-div-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-brand, #4d5ae5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: var(--light-background);
}
.portfolio-shadow {
  display: block;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal {
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.backdrop {
  background: linear-gradient(rgba(46, 47, 66, 0.4), rgba(46, 47, 66, 0.4));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: opacity 1s ease;
  transition: 1s ease-out;
}
.modal-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--accent, #e7e9fc);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  margin: 8px;
  padding: 8px;
}
.modal-close:hover,
.modal-close:focus {
  background-color: var(--pressed-brand, #404bbf);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.modal-close-button {
  fill: var(--dark-background, #2e2f42);
  position: relative;
  inset: -5px 0 0 -5px;
  z-index: 1;
  margin: 5px;
}
.modal-close-button:hover,
.modal-close-button:focus {
  fill: #fff;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.line::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--pressed-brand, #404bbf);
  position: relative;
  top: 25px;
  border-radius: 2px;
}
@media (min-width: 768px) {
  .line::after {
    top: 20px
  }
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand, #4d5ae5);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}
.portflio-img-overlay:hover .portfolio-overlay {
  transform: translatey(0);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.portflio-img-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-card:hover .portfolio-overlay {
  transform: translatey(0);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.overlay-paragraph {
  color: var(--light-background, #f4f4fd);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: left;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 40px;
}

@media (min-width: 768px){
.subscribe-span {

  }
}
.footer-subscribe-lable {
  color: var(--wite-background, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-subscribe-lable {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  }
}

.footer-input-subscribe {
  width: 398px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--wite-background, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 16px;
  background-color: #2e2f42;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .footer-input-subscribe {
    width: 264px;
    margin-left: 108px;
    margin-right: 24px;
    margin-right: -80px;
  }
}
@media (min-width: 768px) {
.to-move-button {
  margin-left: 104px;
}
  
}

.footer-button-subscribe {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--primary-brand, #4d5ae5);
  width: 165px;
  height: 40px;
  color: var(--wite-background, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.footer-button-subscribe:hover {
  background-color: var(--pressed-brand, #404bbf);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.subscribe-svg {
  height: 24px;
  width: 24px;
}
.modal-form-wrapper {
  margin-left: 24px;
  margin-right: 24px;
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-form-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border: none;
}
.modal-paragraph {
  width: 360px;
  color: var(--dark-background, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-top: 72px;
  margin-bottom: 16px;
}
.form-name {
  margin-bottom: 0;
}
.form-input {
  width: 360px;
  height: 40px;
  resize: none;
  padding-left: 38px;
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}
.form-input::placeholder {
  color: #2E2F4266
}
.form-input:focus {
  border: 1px solid var(--iris, #4d5ae5);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
  outline: none;
}
.form-input:focus ~ .modal-name-icon {
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
  fill: var(--iris, #4d5ae5);
}
.form-phone {
  margin-bottom: 0;
}
.form-input:focus ~ .modal-phone-icon {
  fill: var(--iris, #4d5ae5);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.form-email {
  margin-bottom: 0;
}
.form-input:focus ~ .modal-email-icon {
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
  fill: var(--iris, #4d5ae5);
}
.form-text-area {
  margin-bottom: 16px;
}
.form-policy-paragraph {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  margin-left: 8px;
  color: var(--hero-background);
}
.form-policy-paragraph-line {
  display: flex;
  align-items: center;
}
.form-button {
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  background: var(--primary-brand, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 169px;
  height: 56px;
  margin-left: 95px;
  margin-right: 116px;
  margin-top: 24px;
}
.form-button:hover {
  background-color: var(--pressed-brand, #404bbf);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition: (0.4, 0, 0.2, 1);
}
.modal-name-icon {
  position: absolute;
  inset: 145px 0 0 16px;
}


.form-input-comment {
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.lable {
  margin-bottom: 4px;
  color: var(--hero-background);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.modal-phone-icon {
  position: absolute;
  inset: 210px 0 0 16px;
}

.modal-email-icon {
  position: absolute;
  inset: 272px 0 0 16px;
}
.checkbox-hidden {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid var(--hero-background);
  border-radius: 4px;
  inset: 0 0 0 -343px;
}
.checkbox {
  width: 16px;
  height: 16px;
  appearance: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.icon {
  opacity: 0;
  top: -1px;
  left: -1px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.modal .checkbox:checked + svg {
  opacity: 1;
}
.icon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke-width: 1px;
}
.private-policy {
  width: 338px;
  flex-shrink: 0;
  color: var(--iris, #4d5ae5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
.send-button {
  width: 105px;
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.footer-subscribe{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
}
@media (min-width: 768px) {
  .footer-subscribe {
    flex-direction: unset;
  }
}

